

<div class="container-fluid">
<div class="row">
    <div class="col-md-6 m-auto" >  
           

        <form action="" class="bg-light" [formGroup]="signinForm" >
            <h2 align="center">Sign-In-Here</h2>
            <div class="form-group">
                <span  class="form-label">Email :</span>
                <input type="text" name="email" class="form-control" formControlName="email" > 
             </div>

             <div class="form-group">
            <span>Password :</span>
            <input type="text" name="pwd" class="form-control" formControlName="pwd">
             </div>
             <button class="btn btn-danger mt-3 mx-auto" (click)="signIn()" >Sign-In</button>
             <br> <br> 
            <a href="" class="m-5"> Forgot-Pwd?</a> 
            <a href="" class="m-5">Sign-Up</a>
        </form>

    
    </div>
</div>

</div>
