

.main{
    display: flex;
}

.unorlist{
    display: flex;
}

.ul{
    display: inline-flex;
    list-style: none;
justify-content: space-around;

}
li{
    justify-content: space-around;
    padding: 20px;
    font-size: xx-large;
    
}
a{
    text-decoration: none;
    justify-content:space-between;
    color: black;
}

.submain{
    background-color: black;
}
.lorem{
    color: white;
}
.img1{
    height: 130px;
    width: 250px;
}

.img2{
    width: 1686px;
}
.footer{
    background-color: rgb(45, 41, 41);
}
.ftext{
    color: whitesmoke;
}