

.fgform{
    border: 2px solid black;
    padding: 20px;
    margin: 20px;

}

.forgotpass{
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-decoration: underline;
}